{% extends 'shop/base.html' %}

    {% block content %}
    <div class="container spad">
        <div class="row">
            <div class="col-lg-12">
                <h2>My profile</h2>
                <div class="card mt-4" style="padding: 20px;">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Registration Date:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
