{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'shop/img/breadcrumb.jpg' %}">
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="{% url 'shop_grid' %}">All</a></li>
                                
                                {% for cat in categories %}
                                    <li>
                                        <a href="{% url 'shop_grid_category' cat.slug %}">
                                            {{ cat.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-7">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'shop_details' product.pk %}"><i class="fa fa-link"></i></a></li>
                                        <li>
                                            <form method="POST" action="{% url 'add_to_cart' product.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" style="background:none; border:none; cursor:pointer; padding:0; color:inherit; font-size:inherit;">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'shop_details' product.pk %}">{{ product.name }}</a></h6>
                                    <h5>₴{{ product.price }}</h5>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-lg-12">
                            <p>This category is currently empty</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
